<div class="personajes" >
    <div class="lista">
        <ul>
            <li ng-repeat="personaje in campania.personajes track by $index" ng-class="{'active':personaje == personajeseleccionado}" >

                <a  ng-click="selecciona(personaje);" class="pointer">
                    <span class="circulo">{{$index+1}} </span>
                    {{personaje.nombre}}
                </a>
            </li>
            <li >
                <a ng-click="agregaPersonaje()" class="button">Agregar personaje</a>
            </li>
        </ul>
    </div>
    <div ng-if="!personajeseleccionado" class="instruccion1">
        <span class="typcn typcn-arrow-up-outline instructionIcon"></span>
        Selecciona un personaje
    </div>
    <div class="detalle" ng-if="personajeseleccionado" >
        <div class="opciones">
            <div class="alRight">
                <a class="button bred" ng-click="eliminaPersonaje()"><span class="typcn typcn-trash" ng-click="eliminarCampania($index,$event)"></span><span class="noCell">eliminar personaje</span></a>
                <a class="button bred" ng-click="copiarPersonaje()"><span class="typcn typcn-clipboard" ng-click="eliminarCampania($index,$event)"></span><span class="noCell">Copiar</span></a>

            </div>
            <div class="alLeft">
                <input type="text" ng-model="personajeseleccionado.nombre" class="sinborde principal">
            </div>
        </div>

        <hr>
        <div class="caja">
            <h3>Puntos</h3>
            <table>
                <tr>
                    <th></th>
                    <th class="alCenter" width="80">valor</th>
                </tr>
                <tr>
                    <td>Nivel</td>
                    <td>{{getNivelTotal()}}</td>
                </tr>
                <tr>
                    <td>PG</td>
                    <td>{{getPGTotales()}}</td>
                </tr>
                <tr>
                    <td>*Daño</td>
                    <td><input type="text" ng-model="personajeseleccionado.danio" class="sinborde" calculadora placeholder="0"></td>
                </tr>
                <tr class="sep">
                    <td>CA</td>
                    <td><b>{{getCABase()}}</b></td>
                </tr>
                <tr>
                    <td>CA Toque</td>
                    <td>{{getCAToque()}}</td>
                </tr>
                <tr>
                    <td>CA Desprevenido</td>
                    <td>{{getCADesprevenido()}}</td>
                </tr>
                <tr class="sep">
                    <td>Iniciativa</td>
                    <td>{{getTotalModsCaracteristica('iniciativa') + getCharMod(getTotalCaracteristica('des'))}}</td>
                </tr>


                <!-- <tr ng-repeat="char in principales" ng-class="{'sep':char.id!='-'}">
                    <th ng-if="char.id!='-'">{{char.nombre}}</th>
                    <td ng-if="char.id!='-'"><input type="text" ng-model="personajeseleccionado[char.id]" class="sinborde" placeholder="0"></td>
                    <th ng-if="char.id=='-'" colspan="2"></th>
                </tr> -->

            </table>
            <h3>Tiradas de ataque</h3>
            <table>
                <tr>
                    <th> </th>
                    <th class="alCenter" width="80">tirada</th>
                </tr>
                <tr>
                    <td>Base</td>
                    <td>{{ getAtaqueBase(0) }}</td>
                </tr>
                <tr>
                    <td>Melee (FRZ)</td>
                    <td>{{ getAtaqueMelee(0).join(' / ') }}</td>
                </tr>
                <tr>
                    <td>Rango (DES)</td>
                    <td>{{ getAtaqueRango(0).join(' / ') }}</td>
                </tr>

            </table>
            <h3>Tiradas de salvación</h3>
            <table>
                <tr>
                    <th> </th>
                    <th class="alCenter"  width="80">Base</th>
                    <th class="alCenter"  width="80">+Mod</th>
                </tr>
                <tr ng-repeat="char in salvacion" >
                    <td >{{char.nombre}}</td>
                    <td >{{ getTS(char.id)}}</td>
                    <td ><b>{{ getTS(char.id)+getCharMod(getTotalCaracteristica(char.charId))  }}</b></td>
                </tr>

            </table>

            <h3>Características <a style="cursor:pointer" ng-click="generarCaracteristicas()"><img src="images/dices.svg" style="height:19px; float:right" alt="" ></a></h3>
            <table>
                <tr>
                    <th style="width:50%;"></th>
                    <th class="alCenter ">Base</th>
                    <th class="">mods</th>
                    <th class="alCenter ">Total</th>
                    <th class="alCenter">mod car</th>
                </tr>
                <tr ng-repeat="char in caracteristicas" >
                    <td >{{char.nombre}}</td>
                    <td ><input type="number" ng-model="personajeseleccionado[char.id]" class="sinborde" placeholder="0"></td>
                    <td >{{ getTotalModsCaracteristica(char.id) }}</td>
                    <th  class="alCenter">{{ getTotalCaracteristica(char.id) }}</th>
                    <td >{{ getCharMod(getTotalCaracteristica(char.id)) }}</td>
                </tr>

            </table>


        </div>

        <div class="cajadoble" ng-init="paginaActiva = 1">
            <ul class="menu">
                <li ng-class="{'active':paginaActiva === 1}" ng-click="paginaActiva = 1">Clases y Mods</li>
                <li ng-class="{'active':paginaActiva === 2}" ng-click="paginaActiva = 2">Habilidades</li>
                <li ng-class="{'active':paginaActiva === 3}" ng-click="paginaActiva = 3">Equipo</li>
                <li ng-class="{'active':paginaActiva === 4}" ng-click="paginaActiva = 4">Magia</li>
                <li ng-class="{'active':paginaActiva === 5}" ng-click="paginaActiva = 5">Dotes</li>
            </ul>
            <div class="pagina" ng-show="paginaActiva === 1">
                <h3>Clases y Experiencia</h3>
                <div>
                    <table>
                        <tr>
                            <td>Raza:</td>
                            <td>
                                <input type="text" ng-model="personajeseleccionado.raza">
                            </td>
                            <td>Experiencia:</td>
                            <td>
                                <input type="text" ng-model="personajeseleccionado.experiencia">
                            </td>
                            <td>
                                <b>Nivel</b>
                            </td>
                            <td>
                                {{getNivelPersonaje()}}
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div class="desbordable">
                    <table style="min-width:500px">
                        <tr>
                            <th>clase</th>
                            <th>DG</th>
                            <th>Avance ataque</th>
                            <th title="Tirada de salvacion de fortaleza">TS For</th>
                            <th title="Tirada de salvacion de reflejos">TS Ref</th>
                            <th title="Tirada de salvacion de voluntad">TS Vol</th>
                            <th title="Puntos de habilidad por nivel">P.Hab/N</th>
                            <th>Nivel</th>
                        </tr>

                        <tr ng-repeat="clase in personajeseleccionado.clases">
                            <td>
                                <input type="text" ng-model="clase.nombre" class="sinborde alLeft bold">
                            </td>
                            <td><select ng-model="clase.dado">
                                    <option value="4">d4</option>
                                    <option value="6">d6</option>
                                    <option value="8">d8</option>
                                    <option value="10">d10</option>
                                    <option value="12">d12</option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="clase.ataquebase">
                                    <option ng-repeat="(key, val) in ataqueBase" value="{{key}}">{{key}}</option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="clase.tsForBase">
                                    <option ng-repeat="(key, val) in salvacionBase" value="{{key}}">{{key}}</option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="clase.tsRefBase">
                                    <option ng-repeat="(key, val) in salvacionBase" value="{{key}}">{{key}}</option>
                                </select>
                            </td>
                            <td>
                                <select ng-model="clase.tsVolBase">
                                    <option ng-repeat="(key, val) in salvacionBase" value="{{key}}">{{key}}</option>
                                </select>
                            </td>
                            <td width="30"><input type="number" ng-model="clase.puntohabilidad" class="fill sinborde" placeholder="0"></td>

                            <td>
                                <select ng-model="clase.nivel">
                                    <option value="{{$index}}" ng-repeat="num in niveles">{{$index}}</option>
                                </select>
                            </td>
                            <td>
                                <a class="pointer hover" ng-click="eliminaClase($index)"> <span class="typcn typcn-trash"></span> </a>
                            </td>
                        </tr>
                    </table>
                    </div>

                <br/>
                <a  class="button" ng-click="agregaClase()">Agrega clase</a>
                <hr>
                <h3>Modificadores</h3>
                <table>
                    <tr>
                        <th >Activo</th>
                        <th ></th>
                        <th class="alLeft">caracteristica</th>
                        <th class="alLeft">mod</th>
                        <th></th>
                    </tr>

                    <tr ng-repeat="modificador in personajeseleccionado.modificadores | orderBy:'objetivo' track by $index">

                        <td width="10">
                            <input type="checkbox" ng-model="modificador.activo">
                        </td>
                        <td><input type="text" ng-model="modificador.nombre" class="sinborde alLeft bold"></td>

                        <td width="150">
                            <select ng-model="modificador.objetivo" >
                                <option value="{{objetivo.id}}" ng-repeat="objetivo in modObjetivos">{{objetivo.nombre}}</option>
                            </select>
                        </td>
                        <td width="50">
                            <select ng-model="modificador.mod">
                                <option value="{{num}}" ng-repeat="num in nummodificadores">{{num}}</option>
                            </select>
                        </td>
                        <td>
                            <a class="pointer hover" ng-click="eliminaModificador(modificador)"> <span class="typcn typcn-trash"></span> </a>
                        </td>
                    </tr>
                </table>
                <br/>
                <a  class="button" ng-click="agregaModificador()">Agregar modificador</a>

            </div>
            <div class="pagina" ng-show="paginaActiva === 2" >
                <h3>Habilidades <small>({{getTotalPuntosHabilidad()}} puntos / {{getMaxPuntosHabilidad()}})</small></h3>
                <table class="c1">
                    <thead>
                        <tr>
                            <th width="25"></th>
                            <th width="200"></th>
                            <th class="alCenter">Puntos</th>
                            <th class="alCenter">MChar</th>
                            <th class="alCenter">Total</th>
                        </tr>
                    </thead>
                    <tbody class="scrollpane">
                        <tr ng-repeat="char in habilidades | orderBy: 'nombre'" ng-if="$index <= habilidades.length /2">
                            <td><input type="checkbox" ng-model="personajeseleccionado.habilidadesclaseas[char.id]"/></td>
                            <td  class="alLeft">{{char.nombre}} <small>({{char.charId}})</small></td>
                            <td ><input type="number" ng-model="personajeseleccionado[char.id]" class="sinborde" placeholder="0"></td>
                            <td >{{ getCharMod(getTotalCaracteristica(char.charId)) }}</td>
                            <th class="alCenter" ><b>{{ getTotalHabilidad(char) }}</b></th>
                        </tr>
                    </tbody>
                </table>

                <table class="c1">
                    <thead>
                        <tr>
                            <th width="25"> </th>
                            <th width="200"> </th>
                            <th class="alCenter">Puntos</th>
                            <th class="alCenter">MChar</th>
                            <th class="alCenter">Total</th>
                        </tr>
                    </thead>
                    <tbody class="scrollpane">
                        <tr ng-repeat="char in habilidades | orderBy: 'nombre'" ng-if="$index > habilidades.length /2">
                            <td><input type="checkbox" ng-model="personajeseleccionado.habilidadesclaseas[char.id]"/></td>
                            <td  class="alLeft">{{char.nombre}} <small>({{char.charId}})</small></td>
                            <td ><input type="number" ng-model="personajeseleccionado[char.id]" class="sinborde" placeholder="0"></td>
                            <td >{{ getCharMod(getTotalCaracteristica(char.charId)) }}</td>
                            <th class="alCenter"><b>{{ getTotalHabilidad(char) }}</b></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagina" ng-show="paginaActiva === 3">
                <h3>Dinero</h3>
                <div class="desbordable">
                    <table style="min-width:500px">
                        <tr>
                            <td>PPT</td>
                            <td><input type="text" ng-model="personajeseleccionado.pPT"/></td>
                            <td>PO</td>
                            <td><input type="text" ng-model="personajeseleccionado.pPO"/></td>
                            <td>PP</td>
                            <td><input type="text" ng-model="personajeseleccionado.pPP"/></td>
                            <td>PC</td>
                            <td><input type="text" ng-model="personajeseleccionado.pPC"/></td>
                        </tr>
                    </table>
                </div>
                <hr>
                <h3>Armas y ataques</h3>
                <div class="desbordable">
                    <table style="min-width:500px">
                        <tr>
                            <td>nombre</td>
                            <td>tipo de ataque</td>
                            <td>modificador</td>
                            <td colspan="2">tirada</td>
                            <td colspan="2">Daño</td>
                            <td>alcance</td>
                            <td></td>
                        </tr>
                        <tr ng-repeat="arma in personajeseleccionado.armas track by $index">
                            <td><input type="text" ng-model="arma.nombre" class="sinborde fill" placeholder="nombre"></td>
                            <td>
                                <select ng-model="arma.tipo" >
                                    <option value="melee">Melee</option>
                                    <option value="rango">Rango</option>
                                </select>
                            </td>
                            <td width="10">
                                <select ng-model="arma.mod">
                                    <option value="{{num}}" ng-repeat="num in nummodificadores">{{num}}</option>
                                </select>
                            </td>
                            <td>{{getTiradaAtaque(arma).join('/')}}</td>
                            <td><span class="typcn typcn-arrow-forward pointer" ng-click="ejecutaTiradaDeAtaque(arma)" ></span></td>
                            <td><input type="text" ng-model="arma.danio" class="sinborde fill" placeholder="daño"></td>
                            <td><span class="typcn typcn-arrow-forward" ng-click="ejecutaTiradaDeDanio(arma)"></span></td>
                            <td width="70"><input type="text" ng-model="arma.alcance" class="fill sinborde" placeholder="0"></td>
                            <td><a class="pointer hover" ng-click="eliminaArma($index)"> <span class="typcn typcn-trash"></span> </a></td>
                        </tr>
                    </table>
                </div>
                <br>
                <p class="opciones">
                    <a ng-click="agregarArma()" class="button">agregar arma</a>
                </p>
                <hr>

                <textarea ng-model="personajeseleccionado.equipo" rows="17" class="fill sinborde" placeholder="objetos"></textarea>
            </div>
            <div class="pagina" ng-show="paginaActiva === 4">

                <h3>Magia</h3>

                <h4>Conjuros diarios</h4>
                <div class="desbordable">
                    <table style="min-width:500px" ng-init="nivelesConjuros = [0,1,2,3,4,5,6,7,8,9]" class="clasesConjuro">

                        <tr>
                            <th>Clase</th>
                            <th>Car.</th>
                            <th ng-repeat="i in nivelesConjuros" class="alCenter">N{{i}}</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat-start="clase in personajeseleccionado.clasesConjurador track by $index" class="separador">
                            <td width="100"><input type="text" class="sinborde alLeft" ng-model="clase.clase"></td>

                            <td width="50">
                                <select ng-model="clase.charId">
                                    <option ng-repeat="caracteristica in caracteristicas" value="{{caracteristica.id}}" >{{caracteristica.id}}</option>
                                </select>
                            </td>
                            <td ng-repeat="i in nivelesConjuros" class="alCenter">
                                <input type="number" class="sinborde" placeholder="0" ng-model="clase.conjurosdiarios[i]">
                            </td>
                            <td width="20" >
                                <a class="pointer hover" ng-click="eliminaClaseConjuro($index)"> <span class="typcn typcn-trash"></span> </a>
                            </td>
                        </tr>
                        <tr ng-repeat-end >
                            <td class="alRight" colspan="2">
                                <small class="gris">MOD CD TS:</small>
                            </td>
                            <td ng-repeat="i in nivelesConjuros" class="alCenter">
                                {{i+getCharMod(getTotalCaracteristica(clase.charId))}}
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <br>
                <p class="alRight">
                    <a ng-click="agregarClaseConjurador()" class="button">Agregar clase de conjurador</a>
                </p>
                <hr>

                <h4>Lista de conjuros</h4>
                <div class="desbordable">
                    <table style="min-width:500px" class="conjuros">
                        <tr>
                            <th></th>
                            <th>clase</th>
                            <th>nivel</th>
                            <th></th>
                            <th>diarios</th>
                            <th>varita</th>
                            <th>perg</th>
                            <th></th>
                        </tr>



                        <tr class="pointer n{{conjuro.nivel}}" ng-repeat="conjuro in personajeseleccionado.listaconjuros | orderBy: ['clase','nivel','nombre'] track by $index" >



                            <td  width="20" >
                                <a class="pointer hover" ng-click="detalleConjuro(conjuro)"> <span class="typcn typcn-info-large-outline"></span> </a>
                            </td>
                            <td  width="70" ng-click="$parent.conjuroSeleccionado = conjuro" ng-init="pnivel = conjuro.nivel">
                                {{conjuro.clase}}
                            </td>
                            <td ng-click="$parent.conjuroSeleccionado = conjuro" width="30" >
                                {{conjuro.nivel}}
                            </td>
                            <td  class="alLeft" ng-click="$parent.conjuroSeleccionado = conjuro" >
                                <input type="text" ng-model="conjuro.nombre" class="sinborde alLeft">
                            </td>


                            <td  width="50">
                                <input type="number" ng-model="conjuro.diarios" class="sinborde alCenter cantidad" placeholder="0"  />
                            </td>
                            <td  width="50">
                                <input type="number" ng-model="conjuro.varita" class="sinborde alCenter cantidad" placeholder="0"  />
                            </td>
                            <td  width="50">
                                <input type="number" ng-model="conjuro.pergamino" class="sinborde alCenter cantidad" placeholder="0"  />
                            </td>
                            <td width="20">
                                <a class="pointer hover" ng-click="eliminaConjuro(conjuro)"> <span class="typcn typcn-trash"></span> </a>
                            </td>
                        </tr>

                        <tr>

                        </tr>


                    </table>
                </div>
                <br>
                <p class="alRight">

                    <table>
                        <tr>
                            <td class="alRight">Agregar conjuro de</td>
                            <td>
                                <input type="text" ng-model="claseConjuro" class="sinborde" placeholder="clase"/>
                            </td>
                            <td>nivel:</td>
                            <td>
                                <select ng-model="nivelAgregar"><option value="{{$index}}" ng-repeat="num in nivelesConjuro track by $index">niv. {{$index}}</option></select>
                            </td>
                            <td>
                                <a  class="button" ng-click="agregaConjuro(nivelAgregar, claseConjuro)">Agregar</a>
                            </td>
                        </tr>
                    </table>
                </p>

            </div>

            <div class="pagina" ng-show="paginaActiva === 5" >
                <h3>Dotes y Aptitudes especiales</h3>

                <textarea ng-model="personajeseleccionado.dotes" rows="15" class="fill sinborde" placeholder="dotes"></textarea>
            </div>
        </div>





    </div>
</div>
<script type="text/ng-template" id="stackedModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title-{{name}}">
            <input type="text" ng-model="conjuro.nombre" class="sinborde">
        </h3>
    </div>
    <div class="modal-body" id="modal-body-{{name}}">

        <table style="width:100%">
            <tr>
                <td>Clase:</td>
                <td>
                    <input type="text" ng-model="conjuro.clase" class="sinborde">
                </td>
                <td>Nivel:</td>
                <td>
                    <select ng-model="conjuro.nivel"><option value="{{$index}}" ng-repeat="num in nivelesConjuro track by $index">niv. {{$index}}</option></select>
                </td>
                <td>Componentes:</td>
                <td>
                    V <input type="checkbox" ng-model="conjuro.verbal" />
                </td>
                <td>
                    S<input type="checkbox" ng-model="conjuro.somatico" />
                </td>
                <td>
                    M<input type="checkbox" ng-model="conjuro.material" />
                </td>
            </tr>
        </table>

        <hr>
        <h4>Descripcion</h4>
        <textarea ckeditor="options" ng-model="conjuro.descripcion" class="cajaNotas" rows="100" ></textarea>

    </div>
</script>
